<html>
	<body style="background-color: grey;">
		<h1>This is a test of the HTML</h1>

		<h2>{{words}}</h2>

		<form action="/" method="POST" style="border: solid medium white; font-size: 24px;">
			Add a component type: <input type="text" name="userInput"> 
					      <input type="submit" name="submit" value="ADD">
		</form>	


		<p>This is new stuff to check if its working</p>


		<h1 style="color:blue; font-size:24px;">these are the components by selected type:{{comps}}</h1>


		<!--{% if submit == True %}-->

			

		<!--{% endif %}-->

	</body>
</html>
